#services {
   padding: 0 4%;
}
.offer {
   color: #ebebdd;
   margin: 25% auto;
   width: 80%;
   ul {
      list-style: none;
   }
   li {
      margin: 13px 0;
      font-size: 15px;
      span {
         margin: 0 5px 0 5px;
         color: #02b60b;
      }
   }
   h2 {
      width: 100%;
      font-family: "Lato";
      background-color: transparent;
      margin-top: 20px;
      font-size: 17px;
      border: none;
      text-align: left;
      color: #f7ed9b;
      span {
         font-size: 11px;
      }
   }
   .moreInformation {
      display: block;
      padding-top: 20px;
      font-size: 17px;
      text-align: center;
   }
}
@media (min-width: 820px) {
   .offer {
      margin: 15% auto;
      width: 70%;
      li {
         font-size: 25px;
         span {
            margin: 0 20px 0 10px;
            font-size: 30px;
         }
      }
      h2 {
         margin: 30px 0 0 68px;
         font-size: 30px;
         span {
            font-size: 18px;
         }
      }
   }
}
