#showcase {
   width: 100%;
   height: 100%;
   position: relative;
   background: url(../images/pc.jpg) no-repeat center/cover;
   .bg-shadow {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 5;
   }
   .welcome-showcase {
      position: absolute;
      top: 30%;
      left: 10%;
      h1,
      h4 {
         margin-bottom: 7px;
      }
      h1 {
         font-size: 24px;
         text-align: left;
         margin: 0;
         opacity: 1;
      }
      .start {
         padding: 10px 30px;
         margin-top: 12px;
         border: 2px solid grey;
         font-size: 19px;
         color: #fff;
         background-color: rgba(253, 252, 252, 0.1);
         border-radius: 7px;
         outline: none;
         cursor: pointer;
      }
   }
   img {
      height: 100%;
   }
   .ham {
      z-index: 100;
      position: fixed;
      right: 5%;
      top: 4%;
      i {
         font-size: 28px;
      }
   }
   .fas {
      cursor: pointer;
      color: red;
   }

   .fa-bars {
      font-size: 25px;
   }
   .fa-times {
      font-size: 30px;
   }
}

@media screen and (min-width: 768px) {
   #showcase {
      font-family: "Raleway";
      .welcome-showcase {
         h4 {
            font-size: 30px;
         }
         h1 {
            font-size: 50px;
         }
         left: 15%;
         .start {
            padding: 10px 30px;
            font-size: 22px;

            border: 3px solid #fff;
         }
      }
      .ham {
         display: none;
      }
   }
}
