.foto {
  width: 100%;
  img {
    width: 100%;
  }
}
h2 {
  margin: 30px auto;
}

#about {
  padding: 0 4%;
  margin: 20px 0;
  overflow: hidden;
  h3,
  h4 {
    font-family: "Raleway";
    text-align: center;
  }

  h3 {
    margin-top: 10%;
    font-size: 23px;
  }
  h4 {
    font-size: 20px;
  }
}
.introduce-myself {
  flex-direction: column;
  display: flex;
  .foto {
    width: 160px;
    height: 250px;
    background: url(../images/light-bg.jpg) no-repeat center/cover;
    margin: 35px auto;
  }
}
.contact-nav {
  text-decoration: none;
  color: #0952f1;
  display: block;
  font-size: 19px;
  margin-top: 15px;
  transition: color 0.35s ease-in-out;
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}
.text-about {
  margin: 15px auto;
  width: 100%;
  .carousel {
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fafce4;
    width: 100%;
  }
  .sliders {
    padding-bottom: 15px;
  }
  .dots {
    .dot {
      width: 33px;
      height: 10px;
      margin: 7px;
      border-radius: 5px;
    }
    .carousel__dot--selected {
      background-color: #efff5d;
      box-shadow: 0 0 1px 3px rgba(238, 255, 139, 0.25);
    }
  }
}
.technology-stack {
  margin-top: 100px;
  display: block;
  h2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 820px) {
  #about {
    padding: 0 4%;
    h3 {
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 5%;
    }
    h4 {
      font-size: 25px;
    }
  }
  .introduce-myself {
    margin: 0 auto;
    width: 80%;
    .foto {
      flex-basis: 20%;
      height: 500px;
      background-color: #fff;
      margin-right: 30px;
      margin-top: 60px;
    }
  }
  .text-about {
    width: 80%;
    .carousel {
      font-size: 1.5rem;
    }
    .dots .dot {
      width: 40px;
    }
    // .sliders {
    //   line-height: 40px;
    // }
  }
  .technology-stack h2 {
    font-size: 40px;
  }
  .contact-nav {
    font-weight: 700;
    font-size: 23px;
  }
}
