$grey-border: #424242;

#contact {
  padding: 0 5%;
  margin-bottom: 100px;

  .contact-with-me,
  a {
    color: #fae4d0;
  }

  .contact-with-me {
    font-size: 20px;
    margin-bottom: 20px;
    // margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .contact-type {
      display: grid;
      width: 100%;
      grid-template-columns: 15% 85%;
      border: 2px solid $grey-border;
      margin-bottom: 8px;
      background-color: rgba(255, 255, 255, 0.05);
    }

    i,
    a {
      padding: 5px;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    i {
      border-right: 2px solid $grey-border;
      line-height: 30px;
    }

    a {
      text-align: center;
      text-decoration: none;
    }
  }

  h4 {
    margin: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.6;
  }
}

@media (min-width: 480px) {
  #contact .contact-with-me .contact-type {
    width: 300px;
    grid-template-columns: 20% 80%;
  }
}

@media (min-width: 768px) {
  #contact {
    .showInfo {
      font-size: 17px;
    }

    .contact-with-me {
      font-size: 27px;
      margin-top: 40px;

      .contact-type {
        width: 370px;
      }
    }

    h4 {
      font-size: 18px;
      margin: 70px 0;
    }
  }

  form {
    padding: 30px 60px;
    width: 65%;
    margin: 0 auto;

    label {
      font-size: 20px;
    }

    input,
    textarea {
      font-size: 17px;
    }

    textarea {
      height: 7em;
    }
  }
}