$navFontColor: #f3efef;
$bg-nav-color: #dce7c9;
$border-color: #575252;
.desktop {
  position: absolute;
  top: 0;
  visibility: hidden;
}
.mobile-header {
  transform: translate3d(-200%, 0, 0);
  position: fixed;
  color: $navFontColor;
  height: 100%;
  width: 35%;
  background-color: #141414;
  padding: 10px;
  box-shadow: 0 15px 27px rgba(252, 249, 249, 0.3);
  z-index: 17;
  transition: transform 0.5s;
  will-change: transform;

  // .lang {
  //    position: absolute;
  //    width: 50px;
  //    height: 50px;
  //    bottom: 3%;
  //    left: 10%;
  //    transition: 0.7s ease;
  //    &:hover::after {
  //       content: "Zmień język";
  //       //position: relative;
  //       height: 60%;
  //       width: 150px;
  //       right: -50px;
  //       color: red;
  //       font-size: 14px;
  //       //display: block;
  //       background-color: #dbcaca;
  //    }
  // }
  h6 {
    margin: 8px 4px;
    color: $navFontColor;
    font-family: "Raleway";
    letter-spacing: 1px;
  }
}
nav {
  width: 100%;

  ul {
    margin-top: 50px;
    list-style: none;
    opacity: 0;
    .animated {
      opacity: 1;
    }
  }
  li a {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    padding: 10px 8px;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s all linear;
    color: $navFontColor;
    transition: transform 0.3s linear;
    will-change: transform;
    &:hover {
      text-shadow: 0 0 5px;
      transform: scale(1.15) translateX(8%);
    }
  }
  .image {
    margin: 10px 0 0 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid $border-color;
    line-height: 100px;
    font-size: 35px;
    color: black;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      width: 120%;
      left: 57%;
      top: 50%;
      transform: translate(-50%, -50%);
      filter: grayscale(60%);
    }
  }
}

@media (min-width: 768px) {
  .desktop {
    width: 100%;
    display: flex;
    z-index: 15;
    border-bottom: 1px solid #6d6c60;
    visibility: visible;
    transition: background-color 0.4s ease-in-out;
    will-change: background-color;
  }
  .showNavbar {
    background-color: #070708;
    border-bottom: none;
    position: fixed;
  }
  nav {
    display: flex;
    justify-content: space-evenly;
    a {
      font-family: "Lato";
      text-decoration: none;
      font-size: 23px;
      padding: 17px 20px;
      color: #fff;
      transition: all ease 0.4s;
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
    .small {
      margin-top: 11px;
      width: 40px;
      height: 40px;
      img {
        width: 120%;
        height: 100%;
        left: 53%;
      }
    }
  }
  header.mobile-header {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .mobile-header {
    width: 50%;
  }
}
@media screen and (max-width: 310px) {
  .mobile-header {
    width: 55%;
  }
  nav li a {
    font-size: 18px;
  }
}
