section#projects {
  width: 100%;
  padding: 0 4%;
  overflow-x: hidden;

  .fotoProjects {
    margin: 10px auto;
    width: 60%;

    img {
      width: 100%;
    }
  }
}
.watch {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 7px 0;
  background-color: #000000bd;
  text-align: center;
  transform: translateY(-100%);
  transition: transform 0.4s;
  will-change: transform;
  span {
    font-family: "Lato";
    color: #fff;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 5px 11px;
    background-color: rgb(26, 190, 4);
    border-radius: 5px;
  }
}
.projectExamples {
  width: 80%;
  margin: 80px auto;
  display: grid;
  grid-gap: 30px;
}
.example {
  display: grid;
  grid-template-columns: 1fr;
  .thumbail {
    position: relative;
    width: 100%;
    overflow: hidden;
    &:hover > .watch {
      opacity: 1;
      transform: translateY(0);
    }
  }
  img {
    width: 100%;
    border: 5px solid #000;
    border-radius: 5px;
  }
}
.text {
  margin-top: 15px;
  line-height: 1.5;
  a {
    position: relative;
    margin-top: 16px;
    text-decoration: none;
    color: #b61111;
    padding: 7px 11px;
    display: inline-block;
    transition: all ease-in-out 0.3s;
    &:hover {
      background: #fff;
      opacity: 0.7;
      border-radius: 5px;
    }
  }
  i {
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .watch {
    padding: 15px 0;
    span {
      font-size: 18px;
    }
  }
  .projectExamples {
    grid-gap: 100px;
    margin: 150px auto;
  }
  .example {
    grid-template-columns: repeat(2, 1fr);
    .thumbail {
      width: 80%;
    }
    .text {
      line-height: 1.7;
      p {
        font-size: 18px;
      }
      a {
        padding: 12px 16px;
        font-size: 19px;
      }
    }
  }
}
